
nav {
  display: block;
  height: 35vh;
  line-height: 35vh;
  vertical-align: middle;
  text-align: center;
}
nav > .nav-wrapper {
  display: inline-block;
  height: 23vh;
  vertical-align: middle;
}
nav > .nav-wrapper > a {
  text-decoration: none;
  vertical-align: top;
  font-family: 'Hero', sans-serif;
  font-size: 16pt;
  color: white;
}
nav > .nav-wrapper > a:not(#logo-link) {
  width: 100pt;
  height: 23vh;
  line-height: 23vh;
  display: inline-block;
}
nav > .nav-wrapper > a:not(#logo-link) > span {
  padding: 25pt 12pt;
  transition: .25s;
}
nav > .nav-wrapper > a:not(#logo-link):hover > span {
  background-color: rgba(255, 158, 102, 0.69);
  border-radius: 50%;
  transition: .25s;
}
nav > .nav-wrapper > a > img#logo {
  display: inline-block;
  height: 23vh;
  transition: .25s;
}
nav > .nav-wrapper > a:hover > img#logo {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: .25s;
}
